{% extends "base.html" %}
{% load static %}

{% block title %}
План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню
{% endblock title %}

{% block header_btn %}
  <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" onclick="location.href='{% url "index" %}'">Назад</button>
{% endblock %}


{% block content %}
<main style="margin-top: calc(2rem + 85px);">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <div class="card foodplan__card_borderless">
                        <img src="{{dish.image.url}}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                    <div class="row">
                        <h2>{{ dish.name }}</h2>
                        <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                            <h6>{{ dish.description }}</h6>
                            <h6>{{ dish.preparation }}</h6>
                        </div>
                        <div class="col-12 col-sm-6">
                            <small class="link-secondary">ингредиенты:</small>
                            <ul class="list-group list-group-flush">
                                {% for dish_ingredient in dish_ingredients%}
                                    <li class="list-group-item disabled">
                                        <small>
                                            {{dish_ingredient.ingredient.name}} (
                                            {% if dish_ingredient.amount%}
                                                {{dish_ingredient.amount}}
                                            {% endif%}
                                            {{dish_ingredient.get_measurement_display}})
                                        </small>
                                    </li>
                                {% endfor %}
                            </ul>
                            <small class="link-secondary">общая калорийность: {{ dish.caloricity }} ккал</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
